@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 200%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */
.bgred{
  background-color: #FF8B8B !important;
}
.bgorange{
  background-color: #FFC000 !important;
}
.bgyellow{
  background-color: yellow !important;
}
.bggreen{
  background-color: #B1FFAB !important;
}
.bgblue{
  background-color: #B7F3FF !important;
}
.bgpurple{
  background-color: #EEBBFF !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.left-sidebar{
  width: 300px;
}
.b-col{
  width: 16px !important;
}
.money-wrapper{
  background-color: #446655 !important;
  height: 290px !important;
}
.bds-wrapper,.func-btn{
  background-color: #446655 !important;
}
.xx-popup{
  height: 900px !important;
  position: relative;
  top:150px;
}
.camera{
  width: 400px !important;
  height: 300px !important;
}
.txx-button{
  position: absolute;
  top:25%;
  left: 49%;
  height: 300px !important;
  width: 200px !important;
}
.close-popup{
  position: absolute;
  top:10px;
  right:11px;
}